{%extends "main/header.html" %}


{%block content%}
<div class="container">
<h1 class="center-align">Add your listing! </h1>
<br>
<br>
    <form  method="post"  enctype="multipart/form-data">
        {%csrf_token%}
        {{form.as_p}}
        <!-- {{form_pic.as_p}} -->
        <input type="file" name="img">
        <button type="submit" class="center-align waves-effect waves-light btn-large yellow lighten-3 black-text">Submit</button>

    </form>
</div>
<br>
<br>
<!-- <div class="center-align">
    <a class="waves-effect waves-light btn-large grey lighten-3 black-text" href="/">Come Home</a>
</div>
<br> -->


{%endblock%}
