{%extends "main/header.html" %}


{%block content%}

<h1 class="center-align">Welcome to guitar shop </h1>
<br>
<br>


<div class="center-align">
    <a class="waves-effect waves-light btn-large grey lighten-3 black-text" href="/listings">Check out the listings!</a>
</div>
<br>
<div class="center-align">
    <a class="waves-effect waves-light btn-large grey lighten-3 black-text" href="/add_listing">Sell your guitar!</a>
</div>
<br>
<div class="center-align">
    <a class="waves-effect waves-light btn-large grey lighten-3 black-text" href="/admin">Log in to admin page</a>
</div>

{%endblock%}
